
// Generates a random color
@function RandomColor()
{
    $s-min: 20;
    $s-max: 70;
    $l-min: 30;
    $l-max: 90;

    @return hsl(random(360),$s-min+random($s-max+-$s-min),$l-min+random($l-max+-$l-min));
}

@function rem($size, $base: $base-font-px)
{
    @return ($base * $size);
}
